.sidebar {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lightseagreen;
  font-family: sans-serif;
}

.sidebar a {
  color: #ffff;
  text-decoration: none;
  margin: 1em;
  font-size: 1.5rem;
}

.sidebar h2 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 7vh;
  margin-top: 4vh;
  font-weight: bolder;
}
